---
import type { Image } from "~/content/config"
import { getImage } from "astro:assets"
import { t, title as ti } from "~/utils/i18n"
import { canonicalUrl } from "~/utils/format"
import "~/assets/global.css"

export type Props = {
  title?: string
  description?: string
  image?: Image
  pageType?: "website" | "article"
}

const { image, description = "", pageType = "website" } = Astro.props
const title = [Astro.props.title || description, ti(Astro.currentLocale)].filter(Boolean).join(" | |")
const canonical = new URL(Astro.request.url, Astro.site)
const socialImage = image ? await getImage({ src: image.src, width: 1200, height: 630, format: "jpg" }) : undefined
---

<!-- High Priority Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{title}</title>
<meta name="generator" content={Astro.generator} />

<!-- Low Priority Global Metadata -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="alternate" type="application/rss+xml" href="/rss.xml" title={t(Astro.currentLocale, "head.rss_feed")} />

<!-- Theme Color for mobile Safari -->
<meta name="theme-color" content="#f2f1ec" media="(prefers-color-scheme: light)" />
<meta name="theme-color" content="#171717" media="(prefers-color-scheme: dark)" />

<!-- Page Metadata -->
<link rel="canonical" href={canonicalUrl(canonical)} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={pageType} />
<meta property="og:url" content={canonicalUrl(canonical)} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{socialImage && <meta property="og:image" content={socialImage.src} />}
{socialImage && <meta property="og:image:width" content={`${socialImage.options.width}`} />}
{socialImage && <meta property="og:image:height" content={`${socialImage.options.height}`} />}
{image && <meta property="og:image:alt" content={image.alt} />}

<!-- X/Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalUrl(canonical)} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
{socialImage && <meta property="twitter:image" content={socialImage.src} />}
{socialImage && <meta property="twitter:image:width" content={`${socialImage.options.width}`} />}
{socialImage && <meta property="twitter:image:height" content={`${socialImage.options.height}`} />}
{image && <meta property="twitter:image:alt" content={image.alt} />}

<!-- Flowbite -->
<script>
  import { initFlowbite } from "flowbite"
  document.addEventListener("astro:page-load", initFlowbite)
  document.addEventListener("astro:after-swap", initFlowbite)
</script>
